doctype html
html
  head
    include ./includes/head.pug
  body
    include ./includes/weather.html
    include ./includes/clock.pug
    include ./includes/transit.pug
    include ./includes/headlines.pug
    include ./includes/quotes.pug
    include ./includes/birthdays.pug
    include ./includes/javascripts.pug
