.Headlines--headline {
  line-height: 1.5;
  font-size: $font-size-small;
}

.Headlines--headline-title {
  display: inline-block;
  width: 70%;
  text-align: left;
  &:before {
    content: "|";
    padding-left: 10px;
    padding-right: 10px;
  }
}

.Headlines--headline-section {
  display: inline-block;
  width: 30%;
  text-align: right;
  color: $color-light-secondary
}
